body, form, p, h1, h2, h3,ul { 
	padding:0;margin:0; 
}
em { 
	font-style:normal; 
}
input,textarea,button { 
	font-size:16px; 
}
h1 { 
	font-size:16px;margin-bottom:5px; 
}
h2, h3 { 
	font-size:16px; 
}
h3{ 
	color:#060;padding-top:5px;font-weight:400; 
}
h1 span, h2 span,h3 span { 
	font-size:16px;font-weight:400;color:#999; 
}
img { 
	border:0; 
}
p { 
	margin-bottom:10px; 
}
td { 
	vertical-align:top; 
}
a:link { 
	color:#369;text-decoration:none; 
}
a:visited { 
	color:#669;text-decoration:none; 
}
a:hover { 
	color:#fff;text-decoration:none;background:#039; 
}
a:active { 
	color:#fff;text-decoration:none;background:#f93; 
}
body { 
	font:16px/1.4 arial,sans-serif; 
}
.header{
    background:#0a3443;
    color:#ffffff;
    line-height:1.6;
    margin-bottom:10px;
    padding:1px 5px;
}
.header a{
    color:#ffffff;
    font-size:16px;
    line-height:16px;
}
.container{
    padding:1px 5px;
}
.submit_p{
    margin-top:10px;
}
.space{
    font-size:6px;
}
.reg_item{
    margin:3px 0;
}
.reg_memo{
    color:green;
}
.date_line{
    font-size:16px;
    padding:3px 0;
    color:green;
}
.note_time{
    color:#336699;
    margin:10px 0;
}
.note_username{
    color:#999999;
    margin-top:10px;
}
.note_content{
    line-height:16px;
    white-space: pre-wrap;
}
.note_time_list{
    margin:5px 0;
    color:#336699;
}
.user_list td{
    text-align:left;
}
.page_bar{
    margin:10px 0 5px;
}
.err { color: #8a1f11; }

.tip {
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
    text-align: center;
    padding: 10px;
}